@model WatchApp.Models.Watch

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма заказа</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

       
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
        }

        .form-container {
            max-width: 400px;
            margin: 0 auto;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px;
        }

        .btn-add {
            background-color: #4caf50;
            color: white;
            border: none;
        }

        .btn-back {
            background-color: #f44336;
            color: white;
            border: none;
        }
    </style>
</head>
<body>

    <h1>Удаление товара</h1>
    <div class="form-container">

        <form method="post">
            <input asp-for="Id" hidden />
            <div class="col-12 pt-4">
                <img src="@WC.ImagesPath@Model.Image" class="img-fluid" />
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Наименование</label>
                <input asp-for="Name" disabled type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Цена</label>
                <input asp-for="Price" disabled type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Описание</label>
                <textarea asp-for="Description" type="text" class="form-control" id="summernote"></textarea>
            </div>
           
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Тип категории</label>
                <input asp-for="Category.Name" type="text" class="form-control">
            </div>
             <div class="mb-3">
                <label asp-for="ApplicationTypeId" class="form-label">Вид часов</label>
                <input asp-for="ApplicationType.Name" type="text" class="form-control">
            </div>


            <div class="btn-container">
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a asp-action="Index" class="btn btn-back">Назад</a>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 150,
                disable:true
            });
        });
        
    </script>
}




